:root {
  --purple-100: #32224B;
  --purple-200: #432E5D;
  --purple-300: #4C4F90;
  --purple-400: #211F60;
  --purple-500: #181839;
  --purple-600: #111225;
  --graphite-100: #7D756E;
  --graphite-200: #DEDDD7;
  --graphite-300: #AAABA8;
  --graphite-400: #83868C;
  --graphite-500: #475357;
  --black-100: #000; 
  --black-200: #292929; 
  --black-300: #A8A8A8; 
  --black-400: #676767; 

}

html,
body {
  padding: 0;
  margin: 0;
  background: black;
  color: white; 
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}